<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.orendasoftware.crs">

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />

    <application
        android:name=".presentation.view.base.CovidReportingSystemApplication"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        android:usesCleartextTraffic="true">

        <activity android:name=".presentation.view.home.common.ReviewActivity" />
        <activity android:name=".presentation.view.home.BaseActivity" />
        <activity android:name=".presentation.view.home.common.QuestionaryActivity" />
        <activity android:name=".presentation.view.home.common.AddressInfoActivity" />
        <activity android:name=".presentation.view.home.common.PersonInfoActivity" />
        <activity android:name=".presentation.view.enrollment.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>